body {
    margin: 0;
}

/* TOPBAR */
.kw-topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 50px;
    z-index: 9999;

    background-color: #1e94d2;
}

.kw-topbar > img {
    margin-top: 8px;
    margin-left: 5px;
}

/* SIDEBAR */
.kw-sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    width: 210px;
    margin-left: -211px;
    z-index: 9998;
    transition: margin-left 0.5s;

    background-color: #f6f6f6;
    border-right: 1px solid #eaeaea;
}

.kw-sidebar.is-toggled {
    margin-left: 0;
}

@media (min-width: 960px) {
    .kw-sidebar {
        overflow-y: auto;

        margin-left: 0;
    }

    .kw-sidebar.is-toggled {
        margin-left: -211px;
    }
}

/* CONTENT */
.kw-content {
    margin-top: 50px;
    transition: margin-left 0.5s;
}

@media (min-width: 960px) {
    .kw-content {
        margin-left: 210px;
    }

    .kw-content.is-toggled {
        margin-left: 0;
    }
}